<div>
    <h2>网络拓扑管理</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 no-padding-left">
                <div style="margin:10px">
                    <div class="btn btn-primary" ng-click="vm.action('cover')"><span
                        class="nav-icon icon-5"></span><span class="nav-btn-text">删除旧的拓扑</span>
                    </div>
                </div>
                <div style="margin:10px">
                    <div class="btn btn-primary" ng-click="vm.action('6')"><span
                        class="nav-icon icon-5"></span><span class="nav-btn-text">6x6 随机网络</span>
                    </div>
                </div>
                <div style="margin:10px">
                    <div class="btn btn-primary" ng-click="vm.action('5')"><span
                        class="nav-icon icon-5"></span><span class="nav-btn-text">5x5 随机网络</span>
                    </div>
                </div>
                <div style="margin:10px">
                    <div class="btn btn-primary" ng-click="vm.action('4')"><span
                        class="nav-icon icon-5"></span><span class="nav-btn-text">4x4 随机网络</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-10">
                <h1>网络结构</h1>

            </div>
        </div>
    </div>

</div>
