
<div>
    <h4><span>我是</span> {{vm.faker.phone}}</h4>
    <h4><span>我在</span>站点{{vm.faker.state}}, 我看到了:</h4>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>电动单车序列号</span></th>
                <th><span>当前位置</span></th>
                <th><span>所在城市</span></th>
                <th><span>解锁人</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="locationElectricBike in vm.locationElectricBikes track by locationElectricBike.id">
                <td>
                    <a ui-sref="electric-bike-detail({id:locationElectricBike.electricBike.id})">{{locationElectricBike.electricBike.id}}</a>
                </td>
                <td>
                    <a ui-sref="location-detail({id:locationElectricBike.location.id})">站点{{locationElectricBike.location.positionX}}</a>
                </td>
                <td>{{locationElectricBike.location.city}}</td>
                <td>{{locationElectricBike.electricBike.type}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" ng-if = "locationElectricBike.electricBike.type === 'lock'"
                                ng-click="vm.unlock(locationElectricBike.id)"
                                class="btn btn-primary btn-sm">
                            <span>开锁</span>
                            <span class="hidden-sm-down"></span>
                        </button>
                        <button type="submit" ng-if = "locationElectricBike.electricBike.type !== 'lock'"
                                ng-click="vm.lock(locationElectricBike.id)"
                                class="btn btn-danger btn-sm">
                            <span>还车</span>
                            <span class="hidden-sm-down"></span>
                        </button>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="data-management clearfix" ng-if = "vm.currentBike !== null">
        <div class="data-management-wrapper">
            <div class="data-management-container">
                <div style="">
                    <div class="data-management-content">
                        <div class="data-management-info clearfix">
                            <div class="data-management-overview">
                                <div class="data-mgmt-overview-content edge-lt-gray">
                                    <div class="data-mgmt-overview-subtitle edge-lt-gray sm-font">
                                        {{vm.weather.result.city}}
                                    </div>
                                    <div class="data-mgmt-overview-block-group">
                                        <div class="data-mgmt-overview-block edge-lt-gray">
                                            <div class="" style="color:#27a6e8">
                                                {{vm.weather.result.templow}}&#8451;
                                            </div>
                                            <div class="light-gray md-font">
                                                最低温度
                                            </div>
                                        </div>
                                        <div class="data-mgmt-overview-block edge-lt-gray">
                                            <div class="" style="color:#fd7967">
                                                {{vm.weather.result.temphigh}}&#8451;
                                            </div>
                                            <div class="light-gray md-font">
                                                最高温度
                                            </div>
                                        </div>
                                        <div class="data-mgmt-overview-last-block">
                                            <div class="data-mgmt-overview-small-block edge-lt-gray">
                                                <div class="title-black xl-font">
                                                    {{vm.weather.result.weather}}
                                                </div>
                                            </div>
                                            <div class="data-mgmt-overview-small-block">

                                                <div class="title-black xl-font">
                                                   {{ vm.weather.result.windpower }}风
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="data-management-dynamics">
                                <div class="data-mgmt-dynamics-content edge-lt-gray">
                                    <div class="data-mgmt-dynamics-subtitle edge-lt-gray sm-font">
                                        运动指数
                                    </div>
                                    <div class="data-mgmt-dynamics-block md-font">
                                        <div class="">
                                            <span class="middle-gray">{{vm.weather.result.index[1].detail}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data-management-info clearfix">
                            <div class="data-management-overview">
                                <div class="data-mgmt-overview-content edge-lt-gray">
                                    <div class="data-mgmt-overview-subtitle edge-lt-gray sm-font">
                                       本车详情
                                    </div>
                                    <div class="data-mgmt-overview-block-group">
                                        <div class="data-mgmt-overview-block edge-lt-gray">
                                            <div class="" style="color:#00EE00" ng-if = "vm.currentBike.oil >= 75">
                                                {{vm.currentBike.oil}}
                                            </div>
                                            <div class="" style="color:#FFC125" ng-if = "vm.currentBike.oil < 75 && vm.currentBike.oil >= 20">
                                                {{vm.currentBike.oil}}
                                            </div>
                                            <div class="" style="color:#FF0000" ng-if = "vm.currentBike.oil < 20">
                                                {{vm.currentBike.oil}}
                                            </div>
                                            <div class="light-gray md-font">
                                                当前油量
                                            </div>
                                        </div>
                                        <div class="data-mgmt-overview-block edge-lt-gray">
                                            <div class="" style="color:#0D0D0D">
                                                {{vm.currentBike.distance}}
                                            </div>
                                            <div class="light-gray md-font">
                                                总行程
                                            </div>
                                        </div>
                                        <div class="data-mgmt-overview-last-block">
                                            <div class="data-mgmt-overview-small-block edge-lt-gray">
                                                <div class="title-black xl-font">
                                                    {{vm.currentBike.id}}号
                                                </div>
                                            </div>
                                            <div class="data-mgmt-overview-small-block">
                                                <div class="title-black xl-font" ng-if = "vm.bikeIntegrity === '可骑'">
                                                    {{vm.bikeIntegrity}}
                                                </div>
                                                <div class="title-black xl-font" style="color:#FF0000" ng-if = "vm.bikeIntegrity === '换车'">
                                                    {{vm.bikeIntegrity}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="data-management-dynamics">
                                <div class="data-mgmt-dynamics-content edge-lt-gray">
                                    <div class="data-mgmt-dynamics-subtitle edge-lt-gray sm-font">
                                        穿衣指数
                                    </div>
                                    <div class="data-mgmt-dynamics-block md-font">
                                        <div class="">
                                            <span class="middle-gray">{{vm.weather.result.index[6].detail}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>


        </div>

    </div>

    </div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

</div>
