<div>
    <h2>用户</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <div class="form-group">
                    <span class="glyphicon glyphicon-plus"></span>
                    <label class="control-label" for="field_phone">输入手机号以收到激活码</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           ng-model="vm.phone"
                    />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.fakerCreate()">
                        <span>发送激活码</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.fakerLocate()">
                        <span>进入拓扑</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>Phone</span></th>
                    <!--<th><span>Type</span></th>-->
                    <th><span>当前位置</span></th>
                    <th><span>是否激活</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="faker in vm.fakers track by faker.id">
                    <td>{{faker.phone}}</td>
                    <!--<td>{{faker.type}}</td>-->
                    <td>站点{{faker.state}}</td>
                    <td>{{faker.activated}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="faker-detail({id:faker.id})"
                                    class="btn btn-info btn-sm" ng-if="faker.state!='未定'">
                                <span>进入站点</span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit" ng-if = '!faker.activated'
                                    ui-sref="faker.edit({id:faker.id})"
                                    class="btn btn-primary btn-sm">
                                <span>激活</span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="faker.delete({id:faker.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
