body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #444;
}

/* ==========================================================================
navbar text
========================================================================== */
.navbar-default .navbar-brand {
    color: #444;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        /*background-size: contain;*/
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a {
    color: #1c0cf5;
}

a:hover, .hand, [jh-sort-by] {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td vertically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}

svg {
    background-color: #F5F5F5;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    height:500px;
    width:100%;
}

svg:not(.active):not(.ctrl) {
    cursor: crosshair;
}

path.link {
    fill: none;
    stroke: #000;
    stroke-width: 4px;
    cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
}

path.link.selected {
    stroke-dasharray: 10,2;
}

path.link.dragline {
    pointer-events: none;
}

path.link.hidden {
    stroke-width: 0;
}

circle.node {
    stroke-width: 1.5px;
    cursor: pointer;
}

circle.node.reflexive {
    stroke: #000 !important;
    stroke-width: 2.5px;
}

text {
    font: 12px sans-serif;
    pointer-events: none;
}

text.id {
    text-anchor: middle;
    font-weight: bold;
}

/*  managemant */
.data-management {
    width: 100%;
    top: 50px;
    bottom: 0;
    z-index: 100;
}

.data-management-wrapper {
    width: 100%;
    left: 180px;
}

.data-management-container {
    max-width: 1335px;
    padding: 0 15px;
}

.data-management-content {
    width: 100%;
    max-width: 1200px;
    min-height: 600px;
    background: #f9f9f9;
    color: #6b6b6d;
    position: relative;
    float: right;
}

.data-management .data-management-info {
    min-width: 1040px;
    margin-top: 20px;
}

.data-management .data-management-overview {
    width: 53.3%;
    max-width: 640px;
    min-width: 560px;
    float: left;
}

.data-management .data-mgmt-overview-content {
    height: 200px;
    background-color: #fff;
}

.data-management .data-mgmt-overview-subtitle {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    border-width: 0 0 1px 0;
    border-style: solid;
}

.data-management .data-mgmt-overview-block-group {

}

.data-management .data-mgmt-overview-block {
    height: 159px;
    float: left;
    width: 160px;
    border-width: 0 1px 0 0;
    border-style: solid;
    text-align: center;
}

.data-management .data-mgmt-overview-last-block {
    height: 159px;
    float: left;
    width: calc(100% - 320px);
    text-align: center;
}

.data-management .data-mgmt-overview-block > div:first-child {
    font-size: 48px;
    margin: 22px 0 3px;
}

.data-management .data-mgmt-overview-small-block {
    height: 80px;
    width: 100%;
}

.data-management .data-mgmt-overview-small-block:first-child {
    border-width: 0 0 1px 0;
    border-style: solid;
}

.data-management .data-mgmt-overview-small-block > div {
    float: left;
    line-height: 80px;
}

.data-management .data-mgmt-overview-small-block > div:first-child {
    margin: 0 55px 0 90px;
}

.data-management .data-management-dynamics {
    width: 45%;
    max-width: 540px;
    float: right;
}

.data-management .data-mgmt-dynamics-content {
    height: 200px;
    background-color: #fff;
}

.data-management .data-mgmt-dynamics-subtitle {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    border-width: 0 0 1px 0;
    border-style: solid;
}

.data-management .data-mgmt-dynamics-block {
    line-height: 40px;
    padding: 22px 20px;
}

.data-management .data-management-tournament {
    min-width: 1040px;
}

.data-management .data-mgmt-tournament-title {
    line-height: 46px;
    margin-top: 14px;
    display: inline-block;
}

.data-management .data-mgmt-tournament-content {
    background-color: #fff;
    margin-bottom: 20px;
}

.data-management .data-mgmt-subtitle {
    line-height: 60px;
    padding-left: 20px;
    border-width: 0 0 1px 0;
    border-style: solid;
}

.data-management .data-mgmt-btns {
    float: right;
    padding: 10px 0;
}

.data-management .data-mgmt-btns > button {
    width: 110px;
    height: 40px;
    line-height: 1;
    margin-right: 20px;
    float: right;
    border-radius: 2px;
    background-color: #fff;
}

.data-management .data-mgmt-btns > button:hover{
    color: #fff;
    background-color: #188ed6;
}

.data-management .data-mgmt-tournament-block-group {

}

.data-management .data-mgmt-tournament-block {
    width: 20%;
    max-width: 240px;
    height: 185px;
    padding: 27px 40px;
    border-width: 0 1px 0 0;
    border-style: solid;
    float: left;
}

.data-management .data-mgmt-block-title {

}

.data-management .data-mgmt-block-add-number {
    width: 45px;
    height: 20px;
    margin-top: 17px;
    text-align: center;
    float: right;
    border-radius: 2px;
}

.data-management .data-mgmt-block-number {
    margin-top: 51px;
    text-align: center;
}


.data-management .data-mgmt-tournament-last-block {
    padding: 50px;
    float: left;
}

.data-management .data-mgmt-tournament-last-block > p {
    margin-bottom: 20px;
}

.data-management .data-management-station {
    min-width: 1040px;
}

.data-management .data-mgmt-station-title {
    line-height: 46px;
    margin-top: 14px;
    display: inline-block;
}

.data-management .data-mgmt-station-content {
    background-color: #fff;
    margin-bottom: 20px;
}

.data-management .data-mgmt-station-block-group {

}

.data-management .data-mgmt-station-block {
    width: 20%;
    max-width: 240px;
    height: 185px;
    padding: 27px 40px;
    border-width: 0 1px 0 0;
    border-style: solid;
    float: left;
}

.data-management .data-mgmt-station-block:last-child {
    border: none;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
