<div ng-show="visible">
    <div style="margin:10px">
        <span> 您的年龄: {{vm.face.faces[0].attributes.age.value}} </span>
    </div>
    <div style="margin:10px">
        <span> 您的性别: {{vm.face.faces[0].attributes.gender.value}} </span>
    </div>
    <div style="margin:10px">
        <span> 您的脸: </span>
        <div style="margin:10px">
            <div> 黑眼圈: {{vm.face.faces[0].attributes.skinstatus.dark_circle}}</div>
            <div> 色斑: {{vm.face.faces[0].attributes.skinstatus.stain}}</div>
            <div> 粉刺: {{vm.face.faces[0].attributes.skinstatus.acne}}</div>
            <div> 健康程度: {{vm.face.faces[0].attributes.skinstatus.health}}</div>
        </div>
    </div>
    <div style="margin:10px">
        <span> 您的种族: {{vm.face.faces[0].attributes.ethnicity.value}} </span>
    </div>
    <div style="margin:10px">
        <span> 您的颜值: </span>
        <div style="margin:10px">
            <div> 在女性中得分: {{vm.face.faces[0].attributes.beauty.female_score}}</div>
            <div> 在男性中得分: {{vm.face.faces[0].attributes.beauty.male_score}}</div>
        </div>
    </div>
    <div style="margin:10px">
        <span> 您的心情: </span>
        <div style="margin:10px">
            <div> 悲伤指数: {{vm.face.faces[0].attributes.emotion.sadness}}</div>
            <div> 平静指数: {{vm.face.faces[0].attributes.emotion.neutral}}</div>
            <div> 沮丧指数: {{vm.face.faces[0].attributes.emotion.disgust}}</div>
            <div> 愤怒指数: {{vm.face.faces[0].attributes.emotion.anger}}</div>
            <div> 惊讶指数: {{vm.face.faces[0].attributes.emotion.surprise}}</div>
            <div> 恐惧指数: {{vm.face.faces[0].attributes.emotion.fear}}</div>
            <div> 开心指数: {{vm.face.faces[0].attributes.emotion.happiness}}</div>
        </div>
    </div>
    <div style="margin:10px">
        <div class="form-group">
            <button type="submit" ng-click="vm.checkIfName()"
                    class="btn btn-default">
                <span> 我想骑车 </span>
            </button>
        </div>
    </div>
    <div style="margin:10px" ng-show ="isNameExist === 'check-not-found'">
        <div class="form-group">
            <label class="control-label">不知道你是谁，你的名字是(英文)</label>
            <input type="text" class="form-control"
                   ng-model="vm.name" onkeyup="value=value.replace(/[/W]/g,'') "
                   onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^/d]/g,''))"
                   ID="Text1" NAME="Text1" />
        </div>
        <div class="modal-footer">
            <button type="submit" ng-click="vm.submitName()"
                    class="btn btn-default" >
                <span> 提交 </span>
            </button>
        </div>
    </div>
    <div style="margin:10px" ng-show ="isNameExist === 'have-found'">
        <div class="form-group">
            <div> 我已经查到你的信息了，你可以解锁! 但是免费的API延迟很高，所以你录入的名字可能要过一会才能显示(只显示英文) </div>
            <div> 你是 {{vm.faceCheckName}} </div>
            <button type="submit" ng-click="vm.unlock()"
                    class="btn btn-default" >
                <span> 解锁 </span>
            </button>
        </div>
    </div>

</div>
<div class="booth">
    <video id="video" width="400" height="300"></video>
    <button id='tack'>拍照</button>
    <canvas id='canvas' width='400' height='300'></canvas>
    <img id='img' src=''>
</div>
