<div class="t-mgmt-nav">
    <div style="margin:10px">
        <div class="btn btn-primary" ng-click="vm.goToWhere('location')"><span
                class="nav-icon icon-5"></span><span class="nav-btn-text">网络拓扑</span>
        </div>
    </div>
    <div style="margin:10px">
        <div class="btn btn-primary" ng-click="vm.goToWhere('bike')"><span
            class="nav-icon icon-5"></span><span class="nav-btn-text">单车投放</span>
        </div>
    </div>
    <div style="margin:10px">
        <div class="btn btn-primary" ng-click="vm.goToWhere('faker')"><span
                class="nav-icon icon-5"></span><span class="nav-btn-text">用户操作</span>
        </div>
    </div>
    <div style="margin:10px">
        <div class="btn btn-primary" ng-click="vm.goToWhere('log')"><span
                class="nav-icon icon-5"></span><span class="nav-btn-text">日志一览</span>
        </div>
    </div>
    <div style="margin:10px">
        <div class="btn btn-primary" ng-click="vm.goToWhere('face')"><span
            class="nav-icon icon-5"></span><span class="nav-btn-text">人脸识别</span>
        </div>
    </div>

</div>
