<div>
    <h2>电动单车投放管理</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ng-click="vm.action('put')" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        投放单车
                    </span>
                </button>
                <button class="btn btn-primary" ng-click="vm.action('reset')" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        单车回收
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>电动单车序列号</span></th>
                    <th><span>当前油量</span></th>
                    <th><span>累计路程</span></th>
                    <th><span>完好度</span></th>
                    <th><span>当前位置</span></th>
                    <th><span>行驶状态</span></th>
                    <th><span>此地单车总量</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="locationElectricBike in vm.locationElectricBikes track by locationElectricBike.id">
                    <td>
                        <a ui-sref="electric-bike-detail({id:locationElectricBike.electricBike.id})">{{locationElectricBike.electricBike.id}}</a>
                    </td>
                    <td>{{locationElectricBike.electricBike.oil}}</td>
                    <td>{{locationElectricBike.electricBike.distance}}</td>
                    <td>{{locationElectricBike.electricBike.integrity}}</td>
                    <td>
                        <a ui-sref="location-detail({id:locationElectricBike.location.id})">站点{{locationElectricBike.location.positionX}}</a>
                    </td>
                    <td>{{locationElectricBike.electricBike.type}}</td>
                    <td>{{locationElectricBike.location.eBikeNumber}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="location-electric-bike.edit({id:locationElectricBike.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location-electric-bike.delete({id:locationElectricBike.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
