<div>
    <h2>日志</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="createDate"><span>时间</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span>类型</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span>内容</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creator.id"><span>用户</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="logHistory in vm.logHistories track by logHistory.id">
                    <td>{{logHistory.time}}</td>
                    <td>{{logHistory.type}}</td>
                    <td>{{logHistory.content}}</td>
                    <td>
                        <a ui-sref="faker-detail({id:logHistory.creator.id})">{{logHistory.creator.phone}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
